@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
  -webkit-perspective: 1000px;
          perspective: 1000px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }


.description {
  margin-top: 50px;
  text-align: center;
  color: #999;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }

.description a {
  color: #4A9DF6;
  text-decoration: none; }

.cbtn.is-open ~ .description {
  opacity: 0; }

.cbtn {
  display: block;
  position: relative;
  width: 100px;
  height: 40px;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-align: center; }

.cbtn-frontA {  
    position: relative;
    display: block;
    width: 100px;
    height: 40px;  
    background-color: #2196F3 ;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cbtn-frontD {  
    position: relative;
    display: block;
    width: 100px;
    height: 40px;  
    background-color: #F44336 ;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  .cbtn-front:hover {
    background-color: #f77066; }

.cbtn-back {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: white;
    color: #222;
    -webkit-transform: translateZ(-2px) rotateX(180deg);
            transform: translateZ(-2px) rotateX(180deg);
    overflow: hidden;
    -webkit-transition: box-shadow 0.8s ease;
            transition: box-shadow 0.8s ease;
}
    
.cbtn-back button {
   /* padding: 12px 20px; */
    width: 30%;
    margin: 0 5px;
    /* background-color: transparent; */
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    padding: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    /* -webkit-transition: background 0.15s ease; */
    transition: background 0.15s ease;
}
  .cbtn-back button:focus {
    outline: 0; 
    }

  .cbtn-back button.yesD {
    width:45px;
    background-color: #F44336;
    color: #fff;
  }
    .cbtn-back button.noD {
    width:35px;
    background-color:#2196F3;
    color: #fff;

  }
  .cbtn-back button.yesA {
    width:45px;
    background-color: #2196F3;
    color: #fff;
  }
    .cbtn-back button.noA {
    width:35px;
    background-color:#F44336;
    color: #fff;

  }


    .cbtn-back button.yesD:hover {
      background-color: #F44336; 
      }

    .cbtn-back button.noD:hover {
      background-color: #51adf6; 
      opacity: 0.8;
      }
    .cbtn-back button.yesA:hover {
      background-color: #51adf6; 
      }

    .cbtn-back button.noA:hover {
      background-color: #F44336; 
      opacity: 0.8;
      }
    
.cbtn[data-direction="left"] .cbtn-back,
.cbtn[data-direction="right"] .cbtn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg); }

.cbtn.is-open {
  width: 100px;
  height: 40px; }
  .cbtn.is-open .cbtn-front {
    pointer-events: none;
    line-height: 30px; }
  .cbtn.is-open .cbtn-back {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); }

.cbtn[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.cbtn[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.cbtn[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.cbtn[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }
          
          
          
          