<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pms.dao.ClassDao">
  
  <insert id="insert" parameterType="Class">
    insert into CLASS(MNO,CNM,CCD,CDES,CSUB)
    values(#{mno},#{cnm},now(),#{cdes},#{csub})
  </insert>
  
  <update id="update" parameterType="Class">
    update CLASS set
      CNM=#{cnm}, 
      CCD=now(),
      CDES=#{cdes},
      CSUB=#{csub}
    where CNO=#{cno}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from CLASS 
    where CNO=#{cno}
  </delete>

  <select id="selectList" resultType="Class" parameterType="map">
    select CNO, MNO, CNM, CCD, CDES, CSUB 
    from CLASS
    order by CNO ASC   
  </select>
  
  <select id="selectOne" resultType="Class" parameterType="int">
    select CNO, MNO, CNM, CCD, CDES, CSUB 
    from CLASS
    where CNO=#{cno}
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) 
    from CLASS
  </select>
  
  <select id="mylist" resultType="ClassWithName" parameterType="int">
    select CLASS.CNO, MEMBER.MNM, CNM, CCD, CDES, CSUB
    from CMEMBER
    inner join CLASS 
    on CMEMBER.MNO=#{mno} and CMEMBER.CNO=CLASS.CNO and CMEMBER.CMST=1 
    inner join MEMBER
    on CLASS.MNO=MEMBER.MNO
  </select>
  
  <select id="myClass" resultType="ClassWithName" parameterType="int">
    select CNO, MEMBER.MNM, CNM, CCD, CDES, CSUB 
    from CLASS
    inner join MEMBER
    on CLASS.MNO=#{mno} and CLASS.MNO=MEMBER.MNO
    order by CNO ASC 
  </select>
  
  <select id="search" resultType="ClassWithName" parameterType="map">
    select CNO, MEMBER.MNM, CNM, CCD, CDES, CSUB 
    from CLASS
    inner join MEMBER
    on (CNM LIKE CONCAT('%',#{key},'%') or CSUB LIKE CONCAT('%',#{key},'%')) and CLASS.MNO=MEMBER.MNO
  </select>
 
</mapper>
