<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pms.dao.QuestionDao">
  
  <insert id="insert" parameterType="Question">
    insert into QUESTION(CNO,QTIT,QCNT,QCD,QST,QPIC,MNO)
    values(#{cno},#{qtit},#{qcnt},now(),#{qst},#{qpic},#{mno})
  </insert>
  
  <update id="update" parameterType="Question">
    update QUESTION set
      QTIT=#{qtit}, 
      QCNT=#{qcnt}, 
      QCD=now(),
      QST= #{qst},
      QPIC = #{qpic}
    where QNO=#{qno}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from QUESTION 
    where QNO=#{qno}
  </delete>

  <select id="selectList" resultType="Question" parameterType="map">
    select QNO, QTIT, QCNT, QCD, QST, QPIC, MNO 
    from QUESTION
    order by QNO DESC   
  </select>
  
  <select id="selectMyList" resultType="Question" parameterType="int">
    select QNO, QTIT, QCNT, QCD, QST, QPIC, MNO 
    from QUESTION
    where MNO=#{mno}
    order by QNO DESC   
  </select>
  
    <select id="selectClassList" resultType="Question" parameterType="int">
    select QNO, QTIT, QCNT, QCD, QST, QPIC, MNO 
    from QUESTION
    where CNO=#{cno}
    order by QNO DESC   
  </select>
  
  
  <select id="selectOne" resultType="Question" parameterType="int">
    select QNO, QTIT, QCNT, QCD, QST, QPIC, MNO  
    from QUESTION
    where QNO=#{qno}
  </select>
  
  <select id="className" resultType="Class" parameterType="int">
    select CLASS.CNO, CLASS.CNM  
    from QUESTION
    inner join CLASS 
    on QUESTION.QNO=#{qno} and QUESTION.CNO = CLASS.CNO
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) 
    from QUESTION
  </select>
  
    <select id="search" resultType="Question" parameterType="map">
    SELECT QNO, QTIT, QCNT, QCD, QST, QPIC, MNO
    FROM QUESTION 
    WHERE QTIT LIKE CONCAT('%',#{key},'%') OR QCNT LIKE CONCAT('%',#{key},'%')
  </select>
  
   <select id="searchInclass" resultType="Question" parameterType="map">
    SELECT QNO, QTIT, QCNT, QCD, QST, QPIC, MNO
    FROM QUESTION 
    WHERE (QTIT LIKE CONCAT('%',#{key},'%') OR QCNT LIKE CONCAT('%',#{key},'%')) and CNO=#{cno}
  </select>
  
    <select id="countInClass" parameterType="int" resultType="int">
    select count(*) 
    from QUESTION
    where     
    CNO=#{cno}
  </select>
  
  
</mapper>



      








